@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');


body{
    background:#fff;
    font-family: 'Roboto', sans-serif;
}
/*header*/
.site-header{
    background:#3666AE;
    .navbar{
        .navbar-brand{
            img{
                width:100px;
                max-width: 100%;
                height: auto;
            }
            .img-responsive{
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
        li .nav-link{
            color:#ffffff;
            text-transform: capitalize;
            &:hover{
                color:#ddd;
                transition: all .3s ease-in-out;
            }
        }
    }
}

/*main*/

main{
    .piecebanner{
        height:600px;
        background:#3666AE;
        p{
            font-size: 50px;
            color: #fff;
            padding: 55px 0;
        }
    }
    .pieceregister{
        .box-one{
            padding:0px 45px;
            background:#3666ae75;
            p{
                padding: 20px 45px;
                font-size: 30px;
                color: #fff;
            }
        }
        .box-two{
            padding:60px 50px;
            background:#3666aeb3;
            a{
                background: #F73A44;
                padding: 20px 80px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 2px;
                border-radius: 5px;
                text-decoration: none;
                margin-left:250px;
                &:hover{
                    background:#9e1219;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
    .piecetext1{
        div:nth-child(2n) {
            padding:0   100px 0  0;
        }
        .title{
            padding:50px 0 0;
            color: #1d5da8;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }
        span{
            color: #000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            letter-spacing: -1px;
            font-size: 48px;
            line-height: 36px;
        }
        .texto{
            color: #7b7474;
            font-family: 'Montserrat', sans-serif;
            margin-top: 30px;
            line-height: 26px;
            width: 80%;
            span{
                color:#1d5da8;
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
    .pieceprocessos{
        padding: 60px 0 0;
        background-image: url(../img/bg-comofunciona.png);
        text-align: center;
        height:550px;
        h4{
            color: #1d5da8;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            text-align: center;
            letter-spacing: 1px;
            margin-bottom: 5px;
        }
        h2{
            font-size: 55px;
            color: #094285;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            margin-top: 0;
        }
        h5{
            color: #6a6a6a;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
        ul li {
            list-style: none;
            padding: 50px 15px;
            float:left;
            .number{
                color: #1d5da8;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 28px;
            }
            p{
                color: #4c4c4c;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 15px;
                padding: 5px 13px;
            }
            div{
                background: #FFF;
                width: 222px;
                height: 222px;
                border-radius: 50%;
                -moz-box-shadow: 6px 6px 2px #CCC;
                -webkit-box-shadow: 6px 6px 2px #CCC;
                box-shadow: 6px 6px 2px #CCC;
                padding: 35px 10px;
            }
        }
        a{
            color: #FFF;
            background: #F73A44;
            border-radius: 8px;
            padding: 10px 40px;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: -15px;
            font-size: 20px;
            font-weight: 700;
            margin:-20px auto;
            text-decoration:none;
            &:hover{
                background: #9c151c;
                transition: all .3s ease-in-out;
            }
        }
    }
    .piecevantagens{
        background: #3666AE;
        padding: 90px 0 30px;
        margin-top: -13px;
        h2{
            font-size: 55px;
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            margin-top: 0;
            text-align:center;
        }
        h4{
            color: #FFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            margin-bottom: 5px;
            font-size: 18px;
        }
        ul {
            margin-top:55px;
            li {
                list-style: none;
                padding: 90px 45px 30px;
                text-transform: uppercase;
                color: #FFF;
                text-align: center;
                font-weight: 400;
                .preco{
                    background-image: url(img/icon-precos.png) ;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-position-y: top;
                }
                .tempo{
                    background-image: url(img/icon-box.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-position-y: top;
                }
                .consolidacao{
                    background-image: url(img/icon-pack.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-position-y: top;
                }
                .agilidade{
                    background-image: url(img/icon-carrier.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-position-y: top;
                }
            }
        }
    }
    .piecevalores{
        padding: 30px 0 60px;
        h4{
            color: #1d5da8;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
        }
        h2{
            font-size: 55px;
            color: #3a3a3a;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            margin-top: 0;
        }
        span{
            color: #3a3a3a;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            margin-top: -5px;
            display: block;
            font-size: 18px;
        }
        ul{
            padding: 0 20px;
            margin: 30px auto;
            li{
                list-style: none;   
                float:left;
                div{
                    background: #f1f1f1;
                    padding: 20px 20px 35px;
                    p{    
                        font-family: 'Montserrat', sans-serif;
                        font-size: 24px;
                        font-weight: 700;
                        text-align: center;
                        color: #6a6a6a;
                        margin: 0;
                    }
                    span{
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        display: block;
                        text-align: center;
                        margin: 0;
                        color: #6a6a6a;
                        font-size: 14px;
                    }
                    strong{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 28px;
                        font-weight: 700;
                        color: #227ebe;
                        display: block;
                        text-align: center;
                        background: #FFF;
                        width: 90%;
                        margin: 25px auto 0;
                        padding: 10px;
                        border-radius: 8px;
                    }
                }
                .img .one{
                    width: 47px;
                }
                .img{
                    background: url(../images/bg-icon-box.png) repeat-x;
                    padding: 25px 0;
                    margin: 30px auto 10px;
                }
                p{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    color: #6a6a6a;
                    margin: 0;
                }
            }
        }
    }
    .piecesimulacao{
        padding: 40px 0 ;
        background: linear-gradient(180deg, #1d5da8 125px, #094285 0);
        #responde-calculation{
            .card-panel{
                padding: 35px 0;
                strong{
                    color: #FFF;
                    text-align: left;
                    display: block;
                    font-size: 18px;
                    min-height: 55px;
                    font-weight: 800;
                }
            }
        }
    }
}